$color: #ffecb7;
$blockColor: rgb(172,172,172);


body {
    background: $color;

    h1 {
        font-weight: lighter;
    }
}
a {
    transition: all 0.5s ease-in-out;
}
h1 {
    color: white;
}

.block:not(.first){
    background: $blockColor;
    height: 300px;
    width: 100px;
    margin-bottom: 20px;
    border: 4px solid yellow;
}

.block {
    background: $blockColor;
    height: 100px;
    width: 100%;
    margin-bottom: 40px;
    border: 2px solid white;
}