$color: #ffffff;
$blockColor: rgb(172,172,172);
$social-pink: #fc00ff;
$social-blue: #00dbde;
$image-paralax: 'https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'